.typewriter-effect-container {
    margin: 0 auto;
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
}

.typewriter-effect-container h2 {
    margin: 0;
    font-size: 40px;
    color: #ff2323;    
}

.typewriter-effect {
    position: relative;
}

.typewriter-effect p {
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    margin: 0;
    margin-top: 20px;
}

.typewriter-effect p::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #fff;    
}

.typewriter-effect p::after {
    content: "";
    top: 0;
    left: 0;
    height: 110%;
    background-color: #000;
    width: 2px;
    position: absolute;
}

@keyframes blinkAnim {
    100% {
        opacity: 0;
    }
}

.typewriter-effect p.text-1::before {
    animation: typeAnim 2s steps(8) infinite alternate;
}

.typewriter-effect p.text-1::after {
    animation: typeAnim 2s steps(8) infinite alternate,
    blinkAnim 1000ms linear infinite;
}

.typewriter-effect p.text-2::before {
    animation: typeAnim 2s steps(13) infinite alternate;
}

.typewriter-effect p.text-2::after {
    animation: typeAnim 2s steps(13) infinite alternate,
    blinkAnim 1000ms linear infinite;
}

.typewriter-effect p.text-3::before {
    animation: typeAnim 2s steps(12) infinite alternate;
}

.typewriter-effect p.text-3::after {
    animation: typeAnim 2s steps(12) infinite alternate,
    blinkAnim 1000ms linear infinite;
}

@keyframes typeAnim {
    60% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

.typewriter-effect p.active {
    opacity: 1;
}

@media (max-width: 650px) {
    .typewriter-effect-container {
        background: green;
        width: 95%;
    }
    
    .typewriter-effect-container h2 {
        font-size: 30px;
    }

    .typewriter-effect p {
        font-size: 40px;
    }
}